@import 'https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.16/tailwind.min.css';

/* Custom styles */
.dark-mode {
  --tw-bg-opacity: 1;
  background-color: rgba(17, 24, 39, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(229, 231, 235, var(--tw-text-opacity));
}

.light-mode {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}

.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.hobby-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}